.container{
display:grid;
grid-template-rows: 200px 200px;
grid-template-columns:200px 200px;
gap:10px;
}
.item{
text-align:center;
background-color:bisque;
border:5px solid black;
border-radius:10px;
padding:64px;
}
.one{
grid-area: 1/1/2/2;
}
.two{
grid-area: 2/1/3/2;
}
.three{
grid-area: 1/2/2/3;
}
.four{
grid-area: 2/2/3/3;
}
a{
    background-color: orange;
    text-align: center;
    border: 5px solid black;
    border-radius: 5px;
    padding: 5;

}